/* Game CSS */

.container {
	width: 350px;
	height: 350px;
}


.container > button{
	width: 100px;
    height: 100px;
/*     float: left; */
    background: lightgray;   
/*     margin: 15px; */
}

.container > .cross {
	background-color : green;
}

.container > .nought {
	background-color : black;
}