body {
	background-image: url("stars.png");
	background-attachment: fixed;
	color: white;
	font-family: courier new;
	padding: 150;
}
a{
	color: yellow;
;
}



a:hover{
	color: red;
}

.button{
	font-family: courier new;
	padding:  15px;
	border:  2pt black solid;
	background-color: #111;
}

.on{
	color:  green;
}

.off{
	color:  red;
}

.inactive{
	color:  gray;
}
